
@{
    ViewData["Title"] = "CreateOptions";
}

<h1>Opties nieuwsartikel maken</h1>
<div>
    <p>
        <a asp-action="CreateWithUrl" asp-controller="Contents">Nieuwsartikel maken met afbeelding/video links</a>
    </p>
    <p>
        <a asp-action="Create" asp-controller="Contents">Nieuwsartikel maken met fileupload afbeelding</a>
    </p>
</div>

