@model OVGPFinalv1.Models.Chat

@{
    Layout = null;
}

<div class="row">
    <div class="panel-footer">
        <form asp-action="Create">
            <div class="input-group">
                <div class="form-group" style="width: 90%">
                    <label asp-for="PersonName" class="control-label">Naam</label>
                    <input asp-for="PersonName" class="form-control" />
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                    <label asp-for="Text" class="control-label">Schrijf hier je bericht</label>
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                    <span><a asp-action="Create"><button class="btn btn-primary btn-sm" id="btn-chat" style="margin-top:9px">Versturen</button></a></span>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
