@page "{id}"
@model OVGPFinalv1.Areas.Identity.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h4>Weet u zeker dat u dit account wilt verwijderen?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>


    </dl>

    <form method="post">
        <input type="hidden" asp-for="User.Id" />
        <input type="submit" value="Delete" class="btn btn-default" />
        <button class="btn btn-grey m-right btn-sm" asp-page="./Index">Terug</button>
    </form>
</div>