
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Formulier met succes geleverd!</h1>
<div>
    <p>
        Bedankt met het versturen van de contact formulier, u ontvangt spoedig een antwoord van de beheerder.
    </p>
    <p>
        <a asp-action="Index">Terug naar de hoofdpagina!</a>
    </p>
</div>

