@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OVGPFinalv1.Models.ContactFormModel
@{
    ViewData["Title"] = "Contact";
}
<style>

    h3 {
        color: #00BDF3;
        text-align: center;
    }
</style>
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Hoe kunt u ons bereiken?</h2>
    <!--Section description-->
    <p class="w-responsive mx-auto mb-5">
        Indien u nadere informatie wilt hebben over de vereniging kunt u de onderstaand formulier invullen en verzenden.
    </p>
    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form asp-action="Contact" asp-controller="Home" method="POST">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6">
                        <label asp-for="Name" class="control-label">Naam</label>
                        <p>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Email" class="control-label">Emailadres</label>
                        <p>
                        <input asp-for="Email" class="form-control" />
                        </p>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Subject" class="control-label">Onderwerp</label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <div class="md-form">
                            <label asp-for="Message" class="control-label">Vragen of opmerkingen</label>
                            <textarea asp-for="Message" class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    <input type="submit" value="Versturen" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>3125 BJ Schiedam, Nederland</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p> 010 - 4622 422</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>placeholder@placeholder.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>