@page
@model LockoutModel
@{
    ViewData["Title"] = "Niet bereikbaar";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Op dit moment is jouw account niet bereikbaar, probeer het later nog eens.</p>
</header>
