@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Jouw wachtwoord is gereseted, druk <a asp-page="./Login"> hier om in te loggen</a>.
</p>
